<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLongTitle">Проверьте данные для УДАЛЕНИЯ сотрудника</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Данный сторудник будет безвозратно удален из базы данных</p>
        <form (ngSubmit)="deleteEmployee(employee)">
          <div class="mb-3">
            <!-- <label class="form-label">Отдел</label> -->
            <p>{{ divisionService.getDivision(employee.divisionId) }}</p>
            <p>{{ employee.surname }} {{ employee.name }} {{ employee.patronymic }}</p>
            <p>{{ employee.dateOfBirth | date:'YYYY'}} года рождения</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)" data-bs-dismiss="modal">УДАЛИТЬ</button>
      </div>
    </div>
  </div>
</div>
