<div class="container my-5">
  <table class="table mt-3" *ngIf="employeeService.isEmpty()">
    <thead>
      <tr>
        <th scope="col">Отдел</th>
        <th scope="col">Ф.И.О.</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Дата устройства на работу</th>
        <th scope="col">Заработная плата</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employeeItem of employeeService.getEmployees()">
        <td>{{ divisionService.getDivision(employeeItem.divisionId) }}</td>
        <td>
          {{ employeeItem.surname }} {{ employeeItem.name }} {{ employeeItem.patronymic }}
        </td>
        <td>{{ employeeItem.dateOfBirth | date:'dd.MM.yyyy'}}</td>
        <td>{{ employeeItem.dateOfEmployment | date:'dd.MM.yyyy'}}</td>
        <td>{{ employeeItem.wage }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary p-1"
            data-bs-toggle="modal"
            data-bs-target="#createModal"
          >
            Создать
          </button>
          <button
            type="button"
            class="btn btn-primary p-1 m-1"
            data-bs-toggle="modal"
            data-bs-target="#updateModal"
            (click)="selectEmployee(employeeItem)"
          >
            Редактировать
          </button>
          <button
            type="button"
            class="btn btn-danger p-1"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            (click)="selectEmployee(employeeItem)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employeeService.isEmpty()">Записей сотрудников не найдено</p>
</div>
<app-employee-modal-update [employee]="selectedEmployee"></app-employee-modal-update>
<app-employee-modal-create></app-employee-modal-create>
<app-employee-modal-delete [employee]="selectedEmployee"></app-employee-modal-delete>
