<div class="container my-5">
  <table class="table table-striped mt-3" *ngIf="employeeService.isEmployeeEmpty()">
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-center align-top">
          <button type="button" class="btn btn-light" (click)="sortName('id')">
            <strong>Отдел&nbsp;</strong>
            <i class="fa-solid fa-arrows-up-down"></i>
          </button>
        </th>
        <th scope="col" class="text-center align-top">
          <button type="button" class="btn btn-light" (click)="sortName('surname')">
            <strong>Ф.И.О.&nbsp;</strong>
            <i class="fa-solid fa-arrows-up-down"></i>
          </button>
        </th>
        <th scope="col" class="text-center align-top">
          <button type="button" class="btn btn-light" (click)="sortName('dateOfBirth')">
            <strong>Дата Рождения&nbsp;</strong>
            <i class="fa-solid fa-arrows-up-down"></i>
          </button>
        </th>
        <th scope="col" class="text-center align-top">
          <button type="button" class="btn btn-light" (click)="sortName('dateOfEmployment')">
            <strong>Дата устройства на работу&nbsp;</strong>
            <i class="fa-solid fa-arrows-up-down"></i>
          </button>
        </th>
        <th scope="col" class="text-center align-top">
          <button type="button" class="btn btn-light" (click)="sortName('wage')">
            <strong>Заработная плата&nbsp;</strong>
            <i class="fa-solid fa-arrows-up-down"></i>
          </button>
        </th>
        <th scope="col" class="text-center align-top"></th>
      </tr>
      <tr>
        <th scope="col">
          <select
            class="form-select mb-1"
            aria-label="Выберите отдел"
            [(ngModel)]="filterTextByDivision"
          >
            <option selected value="">
              Выберите отдел
            </option>
            <option
              *ngFor="let divisionItem of divisionService.getAllDivisions()"
              value={{divisionItem.id}}
            >
            {{divisionItem.name}}
            </option>
          </select>
        </th>
        <th scope="col">
          <input
            type="text"
            class="form-control mt-1 mb-1"
            placeholder="Поиск по Ф.И.О."
            [(ngModel)]="filterTextByFIO"
          />
        </th>
        <th scope="col">
          <input
            type="date"
            class="form-control mt-1 mb-1"
            [(ngModel)]="filterTextByDateOfBirth"
          />
        </th>
        <th scope="col">
          <input
            type="date"
            class="form-control mt-1 mb-1"
            [(ngModel)]="filterTextByDateOfEmployment"
          />
        </th>
        <th scope="col">
          <input
            type="number"
            class="form-control mt-1 mb-1"
            placeholder="Поиск меньше или равно"
            [(ngModel)]="filterTextByWage"
          />
        </th>
        <th scope="col">
          <button
            type="button"
            class="btn btn-secondary p-1 mb-2"
            (click)="resetFilter()"
          >
            Сбросить все фильтры
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employeeItem of employeeService.getEmployees() |
            filterDivision: filterTextByDivision |
            filterFIO: filterTextByFIO |
            filterDateOfBirth: filterTextByDateOfBirth |
            filterDateOfEmployment: filterTextByDateOfEmployment |
            filterWage: filterTextByWage">
        <td>{{ divisionService.getDivision(employeeItem.divisionId) }}</td>
        <td>
          {{ employeeItem.surname }} {{ employeeItem.name }} {{ employeeItem.patronymic }}
        </td>
        <td>{{ employeeItem.dateOfBirth | date:'dd.MM.yyyy'}}</td>
        <td>{{ employeeItem.dateOfEmployment | date:'dd.MM.yyyy'}}</td>
        <td>{{ employeeItem.wage }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary p-1"
            data-bs-toggle="modal"
            data-bs-target="#createModal"
          >
            Создать
          </button>
          <button
            type="button"
            class="btn btn-primary p-1 m-1"
            data-bs-toggle="modal"
            data-bs-target="#updateModal"
            (click)="selectEmployee(employeeItem)"
          >
            Редактировать
          </button>
          <button
            type="button"
            class="btn btn-danger p-1"
            data-bs-toggle="modal"
            data-bs-target="#deleteModal"
            (click)="selectEmployee(employeeItem)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employeeService.isEmployeeEmpty()">Записей сотрудников не найдено</p>
</div>
<app-employee-modal-update [employee]="selectedEmployee"></app-employee-modal-update>
<app-employee-modal-create></app-employee-modal-create>
<app-employee-modal-delete [employee]="selectedEmployee"></app-employee-modal-delete>
